# Versions & chemins
postgres_version: "16"
db_name: "mairie"

db_admin_user: "postgres"
db_admin_group: "postgres"
db_admin_password: "CHANGE_ME"     # à vault en prod

db_data_dir: "/var/lib/postgresql/{{ postgres_version }}/main"
db_conf_dir: "/etc/postgresql/{{ postgres_version }}/main"
db_backup_dir: "/var/backups/postgres"
db_admin_scripts_dir: "/opt/db_admin/scripts"
db_admin_repo_root: "/opt/db_admin/repo"

# Réseau
db_listen_address: "0.0.0.0"
db_allowed_subnet: "192.168.56.0/24"

# Binaire psql
psql_bin: "/usr/bin/psql"

# Paquets
packages_common:
  - git
  - curl
  - python3-psycopg2

packages_postgres:
  - "postgresql"
  - "postgresql-client"

# Exclusions de sync (déploiement repo)
rsync_excludes:
  - ".git"
  - ".venv"
  - "__pycache__"
  - "backups"
  - "*.dump"

# Globs SQL (exécutés dans l’ordre alpha)
sql_ddl_glob: "{{ db_admin_repo_root }}/db/postgres/ddl/*.sql"
sql_dml_glob: "{{ db_admin_repo_root }}/db/postgres/dml/*.sql"

# Utilitaire : options psql standard
psql_flags: "-v ON_ERROR_STOP=1 --quiet"
